@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #000;
  font-weight: 500;
  line-height: 2;
}

img {
  max-width: 100%;
  height: auto;
}

.l-inner {
  width: 1180px;
  max-width: 100%;
  margin-inline: auto;
}

.l-header {
  width: 100%;
  height: 80px;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.l-header_inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 13px 20px;
}

.l-header_left {
  display: flex;
  align-items: center;
}

.l-header_left img {
  width: 32px;
}

.l-header_left span {
  margin-left: 8px;
}

.l-header_logo span {
  font-size: 32px;
  margin-left: 8px;
  color: #fff;
}

.l-header_right {
  margin-left: auto;
}

.l-top_room {
  margin-top: 106px;
}

.l-top_menu,
.l-top_spa {
  margin-top: 122px;
}

.l-top_plan {
  margin-top: 78px;
}

.l-top_news,
.l-top_access {
  margin-top: 60px;
}

.l-footer_info {
  margin-top: 96px;
}

.l-footer_copyright {
  margin-top: 53px;
}

.l-lower_head {
  line-height: 2;
  margin-top: 80px;
  text-align: center;
}

.l-lower-room,
.l-lower-menu {
  padding-bottom: 147px;
}

.l-lower-room_content,
.l-lower-menu_content,
.l-lower-spa_content {
  margin-top: 125px;
}

.l-lower-spa {
  padding-bottom: 93px;
}

.l-lower-spa_feature {
  margin-top: 156px;
}

.l-breadcrumb {
  margin-top: 30px;
}

.c-reserve-button {
  display: flex;
  align-items: center;
  font-weight: 800;
  color: #fff;
  background-color: #978f10;
  padding: 12px 37px;
  transition: all .4s ease;
}

.c-reserve-button span {
  margin-left: 10px;
}

.c-reserve-button:hover {
  opacity: .7;
}

.c-about-button {
  display: inline-block;
  color: #000;
  padding: 11px 43px;
  background-color: #fff;
  border: 1px solid #707070;
  transition: all .4s ease;
}

.c-about-button:hover {
  color: #fff;
  background-color: #978f10;
  border: none;
  opacity: .7;
}

.c-about-button-menu,
.c-about-button-spa {
  padding: 11px 51px;
}

.c-section-title {
  font-size: 36px;
  line-height: .8888;
  margin-top: 20px;
  text-align: center;
}

.c-section-title-img {
  text-align: center;
}

.c-section-title-img img {
  width: 50px;
}

.c-logo-header {
  display: flex;
  align-items: center;
  transition: all .4s ease; 
}

.c-logo-header:hover {
  opacity: .7;
}

.c-reserve-form_button {
  display: inline-block;
  color: #000;
  background-color: #fff;
  border: 1px solid #707070;
  line-height: 1.6875;
  padding: 7px 66px;
  transition: all .4s ease;
}

.c-reserve-form_button:hover {
  color: #fff;
  background-color: #000;
  opacity: .7;
}

.c-drawer-icon {
  display: none;
  position: fixed;
  right: 22px;
  transition: transform .5s ease;
  z-index: 1001;
}

.c-drawer-icon.is-active .c-drawer-icon_bar1 {
  top: 8px;
  transform: rotate(45deg);
}

.c-drawer-icon.is-active .c-drawer-icon_bar2 {
  display: none;
}

.c-drawer-icon.is-active .c-drawer-icon_bar3 {
  top: 4px;
  transform: rotate(-45deg);
}

.c-drawer-icon_bars {
  display: block;
  width: 32px;
  height: 19px;
  position: relative;
}

.c-drawer-icon_bar1,
.c-drawer-icon_bar2,
.c-drawer-icon_bar3 {
  position: relative;
  top: 0;
  left: 0;
  width: 27px;
  height: 3px;
  background-color: #fff;
}

.c-drawer-icon_bar1 {
  top: 0;
}

.c-drawer-icon_bar2 {
  top: 8px;
}

.c-drawer-icon_bar3 {
  top: 16px;
}

.c-drawer-icon_bar-lower {
  background-color: #000;
}

.p-header-nav {
  display: flex;
  margin-left: 120px;
  color: #fff;
}

.p-header-nav.fixed {
  color: #000;
}

.p-header-nav_item + .p-header-nav_item {
  margin-left: 33px;
}

.p-header-nav_link {
  font-weight: 800;
  transition: all .4s ease; 
}

.p-header-nav_link:hover {
  opacity: .7;
}

.p-mv {
  width: 100%;
  height: 1079px;
  position: relative;
  overflow: hidden;
}

.p-mv_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: main-slide 24s linear infinite;
}

.p-mv_img:nth-child(1) {
  background-image: url(../img/mv01.jpg);
  animation-delay: -2s;
}

.p-mv_img:nth-child(2) {
  background-image: url(../img/mv02.jpg);
  animation-delay: 6s;
}

.p-mv_img:nth-child(3) {
  background-image: url(../img/mv03.jpg);
  animation-delay: 14s;
}

.p-mv_inner {
  height: inherit;
}

.p-mv_leadWrap {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.2352;
  color: #fff;
  writing-mode: vertical-rl;
  position: absolute;
  top: 33.5%;
  right: 26.4%;
  z-index: 2;
}

.p-mv_lead2 {
  margin-right: 41px;
}

.p-top-description {
  background: url(../img/bg01.png) no-repeat center center/ cover;
}

.p-top-description_area {
  display: flex;
  flex-direction: row-reverse;
  height: 681px;
  margin-inline: auto;
  padding-top: 65px;
}

.p-top-description_title {
  font-size: 28px;
  letter-spacing: .35em;
  line-height: 1.2352;
  margin-right: 115px;
  writing-mode: vertical-rl; 
}

.p-top-description_title p:nth-child(2) {
  margin-right: 28px;
  padding-top: 84px;
}

.p-top-description_text {
  letter-spacing: .4em;
  line-height: 2.34;
  margin-right: 100px;
  padding-top: 85px;
  writing-mode: vertical-rl; 
}

.p-top-description_text span {
  letter-spacing: .3em;
  text-orientation: upright;
}

.p-top-description_text2 {
  font-size: 22px;
  letter-spacing: .4em;
  line-height: 1.4545;
  margin-right: 103px;
  padding-bottom: 116px;
  align-self: end;
  writing-mode: vertical-rl; 
}

.p-room_wrap {
  display: flex;
}

.p-room_img,
.p-menu_img,
.p-spa_img {
  width: 54.68%;
}

.p-room_img img,
.p-menu_img img,
.p-spa_img img {
  object-fit: cover;
}

.p-room_description {
  width: 22.5%;
  margin-left: 137px;
  padding-top: 22px;
}

.p-room_title,
.p-menu_title,
.p-spa_title {
  font-size: 36px;
  line-height: 1.7222;
}

.p-room_textBlock {
  margin-top: 52px;
}

.p-room_text {
  line-height: 2;
}

.p-room_text span {
  font-family: serif;
}

.p-room_button {
  margin-top: 66px;
}

.p-menu_wrap {
  display: flex;
  flex-direction: row-reverse;
}

.p-menu_description {
  width: 22.5%;
  margin-right: 28px;
  padding-top: 43px;
}

.p-menu_textBlock {
  margin-top: 51px;
}

.p-menu_button {
  margin-top: 37px;
}

.p-spa_wrap {
  display: flex;
}

.p-spa_description {
  width: 25%;
  margin-left: 137px;
  padding-top: 21px;
}

.p-spa_textBlock {
  margin-top: 53px;
}

.p-spa_button {
  margin-top: 67px;
}

.p-top-plan {
  background: url(../img/bg02.png) no-repeat center center / cover;
  padding: 60px 0 137px;
}

.p-top-plan_items {
  display: flex;
  margin-top: 70px;
}

.p-top-plan_item + .p-top-plan_item {
  margin-left: 94px;
}

.p-plan-item {
  width: calc(33.3% - 62.7px);
  transition: all .4s ease;
}

.p-plan-item_img {
  width: 100%;
  margin-inline: auto;
  cursor: pointer;
  overflow: hidden;
}

.p-plan-item_img:hover img {
  scale: 1.1;
  transition: all .4s ease;
}

.p-plan-item_img img {
  object-fit: cover;
}

.p-plan-item:hover .p-plan-item_text,
.p-plan-item:hover .p-plan-item_title {
  opacity: .7;
  transition: all .4s ease;
}

.p-plan-item_title {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 27px;
  transition: all .4s ease;
}

.p-plan-item_title span {
  font-family: serif;
}

.p-plan-item_title:hover {
  opacity: .7;
  transition: all .4s ease;
}

.p-plan-item_text {
  margin-top: 21px;
}

.p-news-item_cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 38px;
}

.p-news-item_card {
  width: 48.3%;
  display: flex;
  min-height: 130px;
  background-color: #f6f6f6;
}

.p-news-item_card:nth-child(even) {
  margin-left: 40px;
}

.p-news-item_card:hover {
  opacity: .7;
  scale: 1.03;
  transition: all .4s ease;
}

.p-news-item_img {
  padding: 15px 0 15px 10px;
}

.p-news-item_img img {
  width: 103px;
  height: 100px;
  object-fit: cover;
}

.p-news-item_body {
  margin-left: 30px;
  padding: 7px 39px 7px 0;
}

.p-news-item_date {
  font-size: 14px;
}

.p-item-tab {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}

.p-item-tab_list + .p-item-tab_list {
  margin-left: 53px;
}

.p-item-tab_list a {
  transition: all .4s ease;
}

.p-item-tab_list a:hover {
  opacity: .7;
  cursor: pointer;
}

.p-item-tab_list a.is-active {
  -webkit-text-decoration: underline #707070;
  text-decoration: underline #707070;
}

.p-item-tab_content {
  display: none;
}

.p-item-tab_content.is-active {
  display: block;
}

.p-top-access {
  background: url(../img/bg01.png) no-repeat center center / cover;
  padding: 60px 0 110px;
}

.p-top-access_inner {
  max-width: 1450px;
  margin-inline: auto;
}

.p-access_wrap {
  display: flex;
  margin-top: 90px;
}

.p-access_img {
  width: 54.8%;
  margin-left: 133px;
}

.p-access_img img {
  width: 100%;
}

.p-access_infoWrap {
  margin-left: 83px;
  padding-top: 12px;
}

.p-access_map {
  width: 67.11%;
  max-width: 792px;
  margin: 69px auto 0;
}

.p-access_map .iframe-wrap {
  width: 100%;
  padding-top: 74.74%;
  position: relative;
}

.p-access_map .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-footer-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.p-footer-nav_item {
  font-size: 18px;
  letter-spacing: .25em;
  line-height: 1.777;
  writing-mode: vertical-rl;
}

.p-footer-nav_item + .p-footer-nav_item {
  margin-right: 19px;
}

.p-footer-nav_item a {
  transition: all .4s ease;
}

.p-footer-nav_item a:hover {
  opacity: .7;
}

.p-footer-info_logo {
  width: 32px;
  margin-inline: auto;
}

.p-footer-info_text {
  display: block;
  width: fit-content;
  margin: 12px auto 0;
  font-size: 24px;
}

.p-footer-infoWrap {
  margin-top: 62px;
  text-align: center;
}

.p-footer-info_address span {
  margin-right: 21px;
}

.p-footer-info_address p {
  display: inline;
  letter-spacing: .18em;
}

.p-footer-info_tel {
  margin-top: 7px;
}

.p-footer-info_tel a {
  text-decoration: none;
}

.p-footer-info_tel span {
  margin-right: 20px;
}

.p-copyright {
  background-color: #000;
  padding: 18px 0;
  text-align: center;
}

.p-copyright_text {
  font-size: 12px;
  color: #fff;
  line-height: 2;
}

.p-info_address span,
.p-info_open span {
  display: block;
  font-weight: 800;
}

.p-info_address p,
.p-info_tel,
.p-info_open,
.p-info_open p {
  margin-top: 8px;
}

.p-info_tel span {
  display: block;
  font-weight: 800;
  left: .1em;
}

.p-info_tel p {
  margin-top: 7px;
}

.p-info_message {
  margin-top: 9px;
}

.p-footer {
  background: url(../img/bg03.png) no-repeat center center / cover;
  padding-top: 64px;
}

.p-header.fixed {
  color: #000;
  background-color: #fff;
}

.p-header-lower {
  color: #000;
  background-color: #fff;
}

.p-lower-top {
  position: relative;
  height: 500px;
  margin-top: 80px;
}

.p-lower-top-room {
  background: url(../img/room/room-header.jpg) no-repeat center center / cover;
}

.p-lower-top-menu {
  background: url(../img/menu/menu-header.jpg) no-repeat center center / cover;
}

.p-lower-top-spa {
  background: url(../img/spa/spa-header.jpg) no-repeat center center / cover;
}

.p-lower-top_title {
  width: 100%;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.2352;
  color: #fff;
  position: absolute;
  top: 46%;
  text-align: center;
}

.p-room-content_description {
  margin-left: auto;
  padding: 60px 68px 100px 238px;
}

.p-room-content_description-left {
  margin-left: 0;
  margin-right: auto;
  padding: 57px 290px 79px 60px;
}

.p-room-content_description-last {
  padding: 63px 68px 126px 238px;
}

.p-menu-content_description {
  margin-left: auto;
  padding: 60px 60px 156px 238px;
}

.p-menu-content_description-left {
  margin-right: auto;
  margin-left: 0;
  padding: 54px 268px 156px 60px;
}

.p-menu-content_description-last {
  padding: 63px 68px 126px 238px;
}

.p-spa-content_description {
  margin-left: auto;
  padding: 60px 60px 156px 240px;
}

.p-spa-content_description-left {
  margin-left: 0;
  margin-right: auto;
  padding: 54px 200px 156px 63px;
}

.p-content-img {
  width: 44.49%;
  max-height: 300px;
  position: absolute;
  top: -14%;
  z-index: 2;
}

.p-content-img img {
  width: 483px;
}

.p-content-img-right {
  right: 0;
  top: -16%;
}

.p-content-description {
  background: url(../img/bg01.png) no-repeat center center / cover;
  width: 68.89%;
}

.p-content-title {
  font-size: 24px;
  line-height: 1.3333;
}

.p-content-lead {
  margin-top: 39px;
}

.p-content-text {
  font-size: 14px; 
  margin-top: 37px;
  padding-left: 5px;
}

.p-content-text span {
  display: block;
  margin-top: -7px;
}

.p-content-text-left {
  padding-left: 1px;
}

.p-content-text-last {
  padding-left: 0;
}

.p-content-wrap {
  position: relative;
}

.p-content-wrap:nth-child(2) {
  margin-top: 145px;
}

.p-content-wrap:nth-child(3) {
  margin-top: 136px;
}

.p-spa-feature {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 95px 150px 73px;
}

.p-spa-feature_head {
  font-size: 26px;
  line-height: 1.2307;
  text-align: center;
}

.p-spa-feature_table {
  font-size: 15px;
  margin-top: 44px;
}

.p-spa-feature_table table {
  border-top: 1px solid #e7e7e7;
}

.p-spa-feature_table th,
.p-spa-feature_table td {
  border-bottom: 1px solid #e7e7e7;
  padding: 9px 0;
  text-align: left;
}

.p-spa-feature_table th {
  width: 25%;
}

.p-spa-feature_table td {
  width: 75%;
}

.p-modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
}

.p-modal_bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
}

.p-modal_content {
  width: 28.5%;
  background-color: #fff;
  border: 1px solid #707070;
  position: fixed;
  top: 41%;
  left: 50%;
  padding: 20px 60px 85px;
  transform: translate(-50%, -50%);
}

.p-modal_content_button {
  position: relative;
}

.p-reserve-form_head {
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  position: relative;
}

.p-reserve-form_head::after {
  content: '';
  background-color: #e7e7e7;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -36px;
  left: 0;
  transform: translateY(-50%);
}

.p-reserve-form_content {
  margin-top: 68px;
}

.p-reserve-form_item + .p-reserve-form_item {
  margin-top: 14px;
}

.p-reserve-form_title {
  line-height: 1;
}

.p-reserve-form_title span {
  letter-spacing: -.13em;
}

.p-reserve-form_input,
.p-reserve-form_select {
  margin-top: 14px;
}

.p-reserve-form_input input,
.p-reserve-form_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.7142;
  color: inherit;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  box-shadow: none;
  padding: 3px 11px;
}

.p-reserve-form_select select:invalid {
  color: #797878;
}

.p-reserve-form_button {
  margin-top: 64px;
  text-align: center;
}

.p-close-button {
  position: absolute;
  top: -17px;
  right: -42px;
}

.p-close-button img {
  width: 18px;
  height: 18px;
}

.p-drawer-content {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 30px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(-105%);
  transition: transform .5s ease;
  z-index: 40;
}

.p-drawer-content.is-active {
  transform: translateX(0);
}

.p-drawer-content_item {
  position: relative;
  border-bottom: 1px dotted #000;
  padding: 18px 0;
}

.p-drawer-content_item:nth-child(1) {
  border-top: 1px dotted #000;
}

.p-drawer-content_item a {
  display: block;
  font-size: 14px;
  color: #000;
}

.p-drawer-content_item a img {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

.p-breadcrumb span:nth-child(1) {
  padding-right: 5px;
}

.p-breadcrumb span:not(:first-child) {
  padding-left: 7px;
}

.u-separate {
  margin: 24px 0;
}

#js-header.is-active {
  background-color: #fff;
}

#js-header.is-active .js-logo-before {
  display: none;
}

#js-header.is-active .js-logo-after {
  display: flex;
}

#js-header.is-active .c-drawer-icon_bar1,
#js-header.is-active .c-drawer-icon_bar2,
#js-header.is-active .c-drawer-icon_bar3 {
  background-color: #000;
}

.js-logo-before,
.js-logo-after {
  display: flex;
  align-items: center;
}

.js-logo-before img,
.js-logo-after img {
  width: 40px;
}

.js-logo-before span {
  color: #fff;
}

.js-logo-before.scrolled {
  display: none;
}

.js-logo-after {
  display: none;
}

.js-logo-after span {
  color: #000;
}

.js-logo-after.scrolled {
  display: flex;
  align-items: center;
}

.js-drawer-open.scrolled .c-drawer-icon_bar1,
.js-drawer-open.scrolled .c-drawer-icon_bar2,
.js-drawer-open.scrolled .c-drawer-icon_bar3 {
  background-color: #000;
}

/*=============== MOBILE ===============*/
@media (min-width: 1179px) and (max-width: 1850px) {
  .p-content-img img {
    width: 100%;
    height: auto;
  }

  .p-room_description,
  .p-spa_description {
    width: 30%;
    margin-left: 100px;
    padding-top: 0;
  }

  .p-room_textBlock,
  .p-spa_textBlock {
    margin-top: 30px;
  }

  .p-menu_description {
    width: 30%;
    padding-top: 0;
  }

  .p-top-plan_items {
    padding: 0 20px;
  }

  .p-news-item_card:nth-child(n + 3) {
    margin-top: 20px;
  }

  .p-modal_content {
    width: 50%;
  }

  .u-hidden-pc {
    display: none;
  }

  .u-bigpc-only {
    display: none;
  }

  .l-header_left img {
    width: 40px;
  }

  .l-header_left span {
    font-size: 32px;
  }
}

@media (min-width: 1850px) {
  .p-content-img img {
    width: 100%;
    height: auto;
  }
  
  .p-news-item_card:nth-child(n + 3) {
    margin-top: 20px;
  }

  .l-header_left img {
    width: 40px;
  }

  .l-header_left span {
    font-size: 32px;
  }
}

@media (min-width: 1180px) {
  .p-plan-item_img {
    width: 316px;
    height: 209px;
  }
}

@media (max-width: 1179px) {
  .l-inner {
    padding: 0 24px;
  }

  .l-top_room,
  .l-top_menu,
  .l-top_spa {
    margin-top: 50px;
  }

  .l-lower_head {
    margin-top: 60px;
  }

  .l-lower-room,
  .l-lower-menu,
  .l-lower-spa {
    padding-bottom: 50px;
  }

  .l-lower-room_content,
  .l-lower-menu_content,
  .l-lower-spa_content {
    margin-top: 60px;
  }

  .p-top-description_area {
    display: block;
    padding: 60px 60px 0;
  }

  .p-top-description_title {
    margin-right: 0;
    writing-mode: horizontal-tb;
  }

  .p-top-description_title p:nth-child(2) {
    margin-right: 0;
    padding-top: 20px;
  }

  .p-top-description_text {
    margin-right: 0;
    padding: 30px 0 0 20px;
    writing-mode: horizontal-tb;
  }

  .p-top-description_text2 {
    margin-right: 0;
    padding-top: 20px;
    text-align: right;
    writing-mode: horizontal-tb;
  }

  .p-room_wrap,
  .p-menu_wrap,
  .p-spa_wrap {
    display: block;
  }

  .p-room_img,
  .p-menu_img,
  .p-spa_img {
    width: 100%;
  }

  .p-room_description,
  .p-spa_description {
    width: 100%;
    margin-left: 0;
    padding: 30px 24px 0;
  }

  .p-room_textBlock,
  .p-menu_textBlock,
  .p-spa_textBlock {
    margin-top: 30px;
  }

  .p-room_button,
  .p-menu_button,
  .p-spa_button {
    margin-top: 30px;
  }

  .p-menu_img {
    width: 100%;
  }

  .p-menu_description {
    width: 100%;
    margin-right: 0;
    padding: 30px 24px 0;
  }

  .p-top-plan {
    padding-bottom: 50px;
  }

  .p-top-plan_items {
    display: block;
    padding: 0 60px;
  }

  .p-top-plan_item + .p-top-plan_item {
    display: block;
    margin-top: 30px;
    margin-left: 0;
  }

  .p-plan-item {
    width: 100%;
  }

  .p-plan-item_img {
    text-align: center;
  }

  .p-news-item_cards {
    display: block;
  }

  .p-news-item_card {
    margin-top: 20px;
    width: 100%;
  }

  .p-news-item_card:nth-child(2n) {
    margin-left: 0;
  }

  .p-access_wrap {
    display: block;
  }

  .p-access_img {
    margin-left: 0;
    width: 100%;
  }

  .p-access_infoWrap {
    margin-top: 20px;
    margin-left: 0;
    padding: 0 20px;
  }

  .p-room-content_description,
  .p-menu-content_description,
  .p-spa-content_description {
    padding: 40px;
  }

  .p-content-img {
    width: 100%;
    background: url(../img/bg01.png) no-repeat center center / cover;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    top: 0;
    text-align: center;
  }

  .p-content-img img {
    height: 270px;
    object-fit: cover;
  }

  .p-content-description {
    width: 100%;
    text-align: center;
  }

  .p-content-title,
  .p-content-lead,
  .p-content-text {
    margin-top: 20px;
  }

  .p-content-wrap:nth-child(2),
  .p-content-wrap:nth-child(3) {
    margin-top: 60px;
  }

  .p-spa-feature {
    padding: 60px;
  }

  .p-modal_content {
    width: 90%;
  }

  .u-bigpc-only {
    display: none;
  }

  .l-header_left img {
    width: 40px;
  }
}

@media (max-width: 767px) {
  .l-inner {
    padding: 0 16px;
  }

  .l-header_logo span {
    font-size: 18px;
  }

  .js-logo-before img,
  .js-logo-after img {
    width: 32px;
  }

  .l-header_right {
    margin-left: 20px;
  }

  .l-top_room,
  .l-top_menu,
  .l-top_spa {
    margin-top: 50px;
  }

  .l-lower_head {
    margin-top: 40px;
  }

  .l-lower_head p {
    text-align: left;
  }

  .l-lower-room,
  .l-lower-menu,
  .l-lower-spa {
    padding-bottom: 30px;
  }

  .l-lower-room_content,
  .l-lower-menu_content,
  .l-lower-spa_content {
    margin-top: 40px;
  }

  .l-lower-spa_feature {
    margin-top: 40px;
  }

  .c-reserve-button {
    padding: 7px 10px;
  }

  .c-about-button {
    padding: 5px 25px;
  }

  .c-about-button-menu,
  .c-about-button-spa {
    padding: 5px 33px;
  }

  .c-section-title {
    font-size: 28px;
  }

  .c-logo-header {
    max-width: 150px;
  }

  .c-reserve-form_button {
    padding: 5px 40px;
  }

  .c-drawer-icon {
    display: block;
  }

  .p-header-nav {
    display: none;
  }

  .p-mv {
    height: 600px;
  }

  .p-mv_leadWrap {
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p-top-description_area {
    display: block;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
  }

  .p-top-description_title {
    font-size: 24px;
    margin-right: 0;
    writing-mode: horizontal-tb;
  }

  .p-top-description_text {
    margin-right: 0;
    padding-top: 20px;
    padding-left: 10px;
    writing-mode: horizontal-tb;
  }

  .p-top-description_text2 {
    font-size: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .p-room_wrap,
  .p-menu_wrap,
  .p-spa_wrap {
    display: block;
  }

  .p-room_img,
  .p-menu_img,
  .p-spa_img {
    width: 100%;
  }

  .p-room_description,
  .p-spa_description {
    width: 100%;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .p-room_title,
  .p-menu_title,
  .p-spa_title {
    font-size: 20px;
  }

  .p-room_textBlock {
    margin-top: 30px;
  }

  .p-room_button {
    margin-top: 30px;
    text-align: center;
  }

  .p-menu_description {
    width: 100%;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .p-menu_textBlock,
  .p-spa_textBlock {
    margin-top: 20px;
  }

  .p-menu_button,
  .p-spa_button {
    margin-top: 20px;
    text-align: center;
  }

  .p-top-plan {
    padding-bottom: 30px;
  }

  .p-top-plan_items {
    display: block;
    padding: 0;
  }

  .p-top-plan_item + .p-top-plan_item {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }

  .p-plan-item {
    width: 100%;
  }

  .p-news-item_cards {
    display: block;
  }

  .p-news-item_card {
    margin-top: 20px;
  }

  .p-news-item_card:nth-child(2n) {
    margin-left: 0;
  }

  .p-news-item_body {
    padding: 10px 15px 10px 0;
  }

  .p-news-item_title {
    line-height: 1.5;
  }

  .p-access_wrap {
    display: block;
  }

  .p-access_img {
    width: 100%;
    margin-left: 0;
  }

  .p-access_infoWrap {
    margin-top: 20px;
    margin-left: 0;
    padding: 0 20px;
  }

  .p-access_map {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
  }

  .p-room-content_description,
  .p-menu-content_description,
  .p-spa-content_description {
    padding: 40px;
  }

  .p-content-description {
    width: 100%;
    text-align: center;
  }

  .p-content-title {
    margin-top: 0;
    text-align: center;
  }

  .p-content-lead {
    margin-top: 20px;
    text-align: center;
  }

  .p-content-text {
    margin-top: 20px;
    text-align: center;
  }

  .p-content-text span {
    margin-top: 0;
  }

  .p-content-wrap:nth-child(2),
  .p-content-wrap:nth-child(3) {
    margin-top: 40px;
  }

  .p-spa-feature {
    padding: 20px;
  }

  .p-modal_content {
    width: 90%;
    padding: 20px;
  }

  .p-reserve-form_button {
    margin-top: 30px;
  }

  .p-close-button {
    top: -15px;
    right: 0;
  }

  .p-drawer-content {
    margin-top: 80px;
    padding: 60px;
  }

  .u-hidden-sp {
    display: none;
  }

  .u-bigpc-only {
    display: none;
  }
}

@media (max-width: 375px) {
  .c-logo-header {
    max-width: 120px;
  }

  .l-header_right {
    margin-left: 10px;
  }

  .c-drawer-icon {
    right: 13px;
  }
}

@media (max-width: 320px) {
  .p-top-description_text {
    line-height: 2.2;
  }
}

/*===== アニメーション =====*/
@keyframes main-slide {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  4.16% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  41.66% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
  }
}